.inputContainer input {
  width: 90%;
  height: 100%;
  border-radius: 0.2rem;
  border: 1px solid black;
}

.inputContainer button {
  color: white;
  background: #2589bd;
  border-radius: 0.3rem;
  border-style: none;
  height: 80%;
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  padding: 0 0.75rem 0.75rem 0.75rem;
}
